### Codio Activity 22.4: Using `keras`


This activity focuses on using the `keras` library to build an Artificial Neural Network for the titanic dataset.  You will now use all the rows of the data and the `age` and `fare` columns to build a basic network.  After building the model you will visualize the loss by epoch.

#### Index

- [Problem 1](#-Problem-1)
- [Problem 2](#-Problem-2)
- [Problem 3](#-Problem-3)
- [Problem 4](#-Problem-4)
- [Problem 5](#-Problem-5)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import plot_model

import warnings
warnings.filterwarnings('ignore')

In [5]:
titanic = sns.load_dataset('titanic').dropna(subset = ['age'])
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
X = titanic[['age','fare']].values
print(X.shape)
X[:5]

(714, 2)

array([[22.    ,  7.25  ],
       [38.    , 71.2833],
       [26.    ,  7.925 ],
       [35.    , 53.1   ],
       [35.    ,  8.05  ]])

In [9]:
y = titanic['survived'].values
y[:5]

array([0, 1, 1, 1, 0])

### Problem 1

#### A Basic Network

To begin, use `keras` and the `Sequential` model to create a model with the following architecture:

- 1 Hidden Layer
- 1 Node in Hidden Layer
- 1 output node
- Sigmoid activation function on all nodes

This would be equivalent to the architecture in your first assignment.

In [10]:
tf.random.set_seed(42)
single_node_model = ''

In [12]:
single_node_model = Sequential([
    Dense(1, activation = 'sigmoid'),
    Dense(1, activation = 'sigmoid')
])
single_node_model

In [14]:
single_node_model.layers[0].activation

### Problem 2

#### Compiling the Network

Now, use your `single_node_model` and specify the following elements using the `.compile` method.

- `optimizer = rmsprop`
- `loss = binary_crossentropy` or `bce`
- `metrics = ['accuracy']`

In [15]:
tf.random.set_seed(42)
single_node_model.compile()

In [17]:
single_node_model.compile(
    optimizer = 'rmsprop',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)
single_node_model

### Problem 3

#### Fit the model

With your model setup, fit the model below using the following parameters:

- `epochs = 20`
- `batch_size = 10`
- `verbose = 0`

Also, leave the `tf.random.set_seed(42)` to assure proper grading.  Assign your fit model to the variable `history` below.

In [18]:
tf.random.set_seed(42)
history = single_node_model.fit(x = X,y = y,
                               epochs = 20,
                                batch_size = 10,
                                verbose = 0
                               )
history.params

2025-11-06 13:03:30.325090: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)
2025-11-06 13:03:30.329544: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

{'verbose': 0, 'epochs': 20, 'steps': 72}

### Problem 4

#### Evaluate the model

Use the `.evaluate` method of your `single_node_model` with the `X` and `y` arrays to examine the loss and accuracy of the model.  Assign these values as `single_loss` and `single_acc` below.

In [19]:
tf.random.set_seed(42)
results = single_node_model.evaluate(X,y)
single_loss = results[0]
single_acc = results[1]
print(single_loss)
print(single_acc)

23/23 [==============================] - 0s 242us/step - loss: 0.6755 - accuracy: 0.5938
0.6754795908927917
0.593837559223175

### Problem 5

#### A More Complex Model

To try to improve the model, now build and evaluate a second model that uses a single hidden layer with 100 nodes, and a single output layer.  

For the hidden layer use the `relu` activation function and for the output layer use the `sigmoid` activation.  

Again, set the `np.random.seed(42)`, using the same compile settings and train settings for number of epochs and batch size.  Assign the accuracy of the model to `hundred_acc` below.

In [20]:
tf.random.set_seed(42)
complex_model = Sequential([
    Dense(100, activation = 'relu'),
    Dense(1, activation = 'sigmoid')
])
complex_model

In [21]:
complex_model.compile(loss = 'bce', optimizer = 'rmsprop', metrics = ['acc'])

In [22]:
history = complex_model.fit(X, y,
                           epochs = 20,
                           batch_size = 10,
                           verbose = 0)
hundred_acc = complex_model.evaluate(X,y)
hundred_acc

23/23 [==============================] - 0s 269us/step - loss: 0.6334 - acc: 0.6877

[0.6333512663841248, 0.6876750588417053]